name: build

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2.1.3
        with:
          node-version: "14"
      - name: Prepare
        run: npm ci
      - name: Build
        run: npm run build
